body {
  background-color: $light;
}

.container {
  max-width: 90%;
  margin: 0 auto;

  @media screen and (min-width: 1000px) {
    max-width: 1500px;
  }
}

.dark {
  background-color: $dark;
  height: 100%;
}

hr {
  margin-bottom: 30px;
}
