.index__flex {
  margin: 215px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  &--1 {
    flex-grow: 1;
    &--1 {
      display: flex;
      align-items: baseline;
      gap: 10px;
    }
  }
  &--2 {
    flex-grow: 2;
    position: relative;
  }
  &--3 {
    display: flex;
    align-self: flex-end;
    gap: 10px;
  }
}

.image {
  width: 450px;
  height: 485px;
  object-fit: cover;
  border-radius: 445px 0 0 0;
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}

.icon {
  height: 20px;
  align-self: flex-end;
}

.circle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: $accent;
  height: 280px;
  width: 280px;
  border-radius: 50%;
  position: absolute;
  top: 325px;
  left: 260px;
}

.circle:hover {
  background-color: #dcb8e0;
}
