.projects {
  &__flex {
    margin: 50px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
    @media screen and (min-width: 1200px) {
      margin: 150px 0 50px;
      gap: 50px;
    }
    &--item {
      max-width: 300px;
      margin: 0 auto 50px;
      @media screen and (min-width: 1200px) {
        max-width: 390px;
        margin: 0 0 50px;
      }
    }
  }
  &__content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 30px;
  }
  &__number {
    margin-top: -30px;
    color: $accent;
    font-size: 130px;
  }

  &__text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    @media screen and (min-width: 1000px) {
      height: 175px;
    }
  }
  &__image {
    width: 100%;
    background-color: $light;
    margin-bottom: 40px;
    &--img {
      width: 260px;
      height: 260px;
      object-fit: cover;
      object-position: right top;
      padding: 30px 25px 100px;
      cursor: pointer;
      @media screen and (min-width: 1200px) {
        width: 340px;
        height: 340px;
      }
    }
  }
}

.backtohome {
  font-family: $primary-font;
  color: $dark;
  border: none;
  background-color: $accent;
  width: 200px;
  height: 50px;
  border-radius: 20px;
  margin-bottom: 50px;
  cursor: pointer;
}

.backtohome:hover {
  background-color: #dcb8e0;
}

.dialog {
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  padding-bottom: 100px; /* Location of the box */

  left: 0;
  top: 0;
  bottom: 0;
  width: 100%; /* Full width */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.9); /* Black w/ opacity */
  &__img {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 1000px;
  }
}
