h1 {
  color: $dark;
  font-family: $primary-font;
  font-size: 100px;
  font-weight: 100;
  letter-spacing: 4px;
  margin: 0;
}

h2 {
  color: $dark;
  font-family: $secondary-font;
  font-size: 26px;
  max-width: 260px;
}

h3 {
  color: $dark;
  font-family: $primary-font;
  font-size: 28px;
  letter-spacing: 4px;
  font-weight: 50;
  text-align: center;
}

a {
  text-decoration: none;
}

a.link {
  color: $accent;
  font-family: $primary-font;
  font-size: 16px;
  text-align: right;
  margin-bottom: 40px;
  position: relative;
}

a.link::before {
  content: "";
  position: absolute;
  width: 100px;
  height: 4px;
  border-radius: 4px;
  background-color: $accent;
  bottom: -8px;
  right: 0;
  transform-origin: right;
  transform: scaleX(0);
  transition: transform 0.3s ease-in-out;
}

a.link:hover::before {
  transform-origin: left;
  transform: scaleX(1);
}

h4 {
  color: $dark;
  font-family: $primary-font;
  font-size: 60px;
  font-weight: 100;
  margin: 0;
}

h5 {
  color: $light;
  font-family: $primary-font;
  text-transform: uppercase;
  text-align: right;
  font-size: 26px;
  font-weight: 100;
  margin: 0;
}

p {
  font-family: $secondary-font;
  font-size: 14px;
  color: $light;
  text-align: right;
}
