h1 {
  color: $dark;
  font-family: $primary-font;
  font-size: 100px;
  font-weight: 100;
  letter-spacing: 4px;
  margin: 0;
}

h2 {
  color: $dark;
  font-family: $secondary-font;
  font-size: 26px;
  max-width: 260px;
}

h3 {
  color: $dark;
  font-family: $primary-font;
  font-size: 28px;
  letter-spacing: 4px;
  font-weight: 50;
  text-align: center;
}

a {
  text-decoration: none;
}

h4 {
  color: $dark;
  font-family: $primary-font;
  font-size: 60px;
  font-weight: 100;
  margin: 0;
}
